<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder ignore-unresolvable="true" location="classpath*:/application.properties" />
    <!--<bean id="configProperties"-->
          <!--class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="ignoreResourceNotFound" value="true"/>-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath*:/application.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <context:annotation-config />
    <!--<bean id="lombok" class="com.bright.util.LombokDemo" init-method="init">-->
        <!--<property name="name" value="test"/>-->
    <!--</bean>-->
    <!--<bean id="ParentBean" class="com.bright.util.ParentBean" >-->
    <!--</bean>-->
    <bean id="SonBean" class="com.bright.util.SonBean" >
    </bean>
    <!--<bean id="property" class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath:config.properties</value>-->
                <!--&lt;!&ndash;<value>file:config/*.conf</value>&ndash;&gt;-->
            <!--</list>-->
        <!--</property>-->
        <!--&lt;!&ndash; 设置编码格式 &ndash;&gt;-->
        <!--<property name="fileEncoding" value="UTF-8"></property>-->
    <!--</bean>-->
    <!--<context:component-scan base-package="com.bright.util"></context:component-scan>-->
</beans>
